
<!DOCTYPE html>
<html lang="en">

<head>
  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>
</head>

<body class="bump-down">


  <h1>My Matches</h1>
  <section>
    <%  if (myMatches.length === 0) {  %>
    You have no active matches!
    <%  } else { %>
    <table>
      <th>Game Type</th>
      <th>Player 1</th>
      <th>Player 2</th>

      <%  for(var i = 0; i < myMatches.length; i++) { %>
      <tr>

        <td>
        <% if(myMatches[i].game_id === 1) { %>
          Goofspiel
        <%  } else if (myMatches[i].game_id === 2) {  %>
          Go Fish
        </td>
        <%  } %> <!--  end game type logic  -->

        <td><%= myMatches[i].player1_id %></td>
        <td><%= myMatches[i].player2_id %></td>
        <td> <a type="buttton" href="matches/<%= myMatches[i].id %>"> Play! </a></td>

      </tr>
      <%  } %> <!--  end matches loop  -->
    <%  } %> <!--  end else statement  -->

    <form id="search-form" action="/matches" method="POST" type="button">
        <select name="game">
          <% for (game in games) { %>
            <option id="gameType" value= <%= games[game].id %> >
              <%= games[game].name %>
            </option>
          <% } %>
        </select>
      </form>
      <button id="search-btn" type="submit" name="gameID" form="search-form"> Search! </button>
    </table>
  </section>




  <h1>Seeking</h1>
  <section>
    <%  if (myChallenges.length === 0) {  %>
    You have no active challenges!
    <%  } else { %>
    <table>
      <th>Matchmaking ID</th>
      <th>Game Type</th>

      <%  for(var i = 0; i < myChallenges.length; i++) { %>
      <tr>
        <td>
          <%= myChallenges.id %>
        </td>

        <td>
        <% if(myChallenges[i].game_id === 1) { %>
          games
        <%  } else if (myChallenges[i].game_id === 2) {  %>
          Go Fish
        </td>

        <%  } %> <!--  end game type logic  -->
      </tr>
      <%  } %> <!--  end matches loop  -->
    <%  } %> <!--  end else statement  -->

    <form id="search-form" action="/matches" method="POST" type="button">
        <select name="game">
          <% for (game in games) { %>
            <option id="gameType" value= <%= games[game].id %> >
              <%= games[game].name %>
            </option>
          <% } %>
        </select>
      </form>
      <button id="search-btn" type="submit" name="gameID" form="search-form"> Search! </button>
    </table>
  </section>

</body>
</html>
