
<!DOCTYPE html>
<html lang="en">

<head>
  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>
</head>

<body>

<section id="matches" class="container-fluid">

  <h1 class="page-header">My Matches</h1>
  <section class="matches-box">
    <%  if (myMatches.length === 0) {  %>

    <% } else { %>
      <% for (var i = 0; i < myMatches.length; i++) { %>
        <!-- start match box -->
        <%  if ((myMatches[i].player1_id == my_id && myMatches[i].player1_last_turn === null)
        || (myMatches[i].player2_id == my_id && myMatches[i].player2_last_turn === null)) { %>
          <div class="panel panel-default match-btn highlight-turn">
        <% } else { %>
          <div class="panel panel-default match-btn highlight-turn">
        <% } %>
            <div class="panel-body text-center">
              <!-- game name -->
              <span>Playing
                <%  if(myMatches[i].game_id === 1) { %>
                  Goofspiel
                <% } else if (myMatches[i].game_id === 2) { %>
                  Go Fish
                <% } %>
              </span>

            <!-- VS -->
            <h2>VS</h2>

            <!-- opponent name -->
            <h3>
              <% if (myMatches[i].player1_id == my_id) { %>
                <%= myMatches[i].player2_id %>
              <% } else { %>
                <%= myMatches[i].player1_id %>
              <% } %>
            </h3>

            <div class="row center-block">
              <a href="/matches/<%= myMatches[i].id %>" class="btn btn-default col-xs-6">Play</a>

              <form action="/matches/delete" method="POST" class="col-xs-6">
                <input type="hidden" name="match_id" value="<%= myMatches[i].id %>">
                <button type="submit" class="btn btn-default">Resign</button>
              </form>
            </div>
          </div>
        </div>
      <% } %> <!--  end matches loop  -->
    </div>
    <% } %> <!--  end else statement  -->
  </section>

  <section class="searches-box">
    <%  for(var i = 0; i < myChallenges.length; i++) { %>
      <div class="panel panel-default match-btn search">
        <div class="panel-body">
          <% if(myChallenges[i].game_id === 1) { %>
            Searching for Goofspiel...
          <% } else if (myChallenges[i].game_id === 2) {  %>
            Searching for Go Fish...
          <% } %> <!--  end gameType logic  -->
        </div>
      </div>
    <% } %> <!--  end matches loop  -->
  </section>

  <div class="panel panel-default match-btn btn btn-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="game-dropdown">Select a game from the list...</label>
        <select name="game" id="game-dropdown" class="form-control">
          <% for (game in games) { %>
            <option value= <%= games[game].id %> >
              <%= games[game].name %>
            </option>
          <% } %>
        </select>
      </div>
      <h1 class="game-search">Search</h1>
    </div>
  </div>

</section>

</body>
</html>
