
<!DOCTYPE html>
<html lang="en">

<head>
  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>
</head>

<body class="bump-down">

<section id="matches">
  <h1>My Matches</h1>

    <%  if (myMatches.length === 0) {  %>
    You have no active matches!
    <%  } else { %>
    <table class="table">
      <th>Game Type</th>
      <th>Player 1</th>
      <th>Player 2</th>

      <%  for(var i = 0; i < myMatches.length; i++) { %>
      <tr>

        <td>
        <% if(myMatches[i].game_id === 1) { %>
          Goofspiel
        <%  } else if (myMatches[i].game_id === 2) {  %>
          Go Fish
        </td>
        <%  } %> <!--  end game type logic  -->

        <td><%= myMatches[i].player1_id %></td>
        <td><%= myMatches[i].player2_id %></td>
        <td>
          <a type="buttton" class="btn btn-default" href="/matches/<%= myMatches[i].id %>">
            Play!
          </a>
        </td>

        <td>
          <form action="/matches/delete" method="POST">
          <input type="hidden" name="match_id" value="<%= myMatches[i].id %>">
          <button type="submit" class="btn btn-default">
            Resign...
          </button>
          </form>
        </td>

      </tr>
      <%  } %> <!--  end matches loop  -->
    <%  } %> <!--  end else statement  -->

    <form id="search-form" action="/matches" method="POST">
        <select name="game" class="form-control" style="width:100px">
          <% for (game in games) { %>
            <option id="gameType" value= <%= games[game].id %> >
              <%= games[game].name %>
            </option>
          <% } %>
        </select>
      </form>
      <button class="btn btn-default" id="search-btn" type="submit" name="gameID" form="search-form"> Search! </button>
    </table>
  </section>




  <section id="seeking">
  <h1>Seeking</h1>
    <%  if (myChallenges.length === 0) {  %>
    You have no active challenges!
    <%  } else { %>
    <table>
      <th>Matchmaking ID</th>
      <th>Game Type</th>

      <%  for(var i = 0; i < myChallenges.length; i++) { %>
      <tr>
        <td>
          <%= myChallenges[i].id %>
        </td>

        <td>
        <% if(myChallenges[i].game_id === 1) { %>
          Goofspiel
        <%  } else if (myChallenges[i].game_id === 2) {  %>
          Go Fish
        </td>

        <%  } %> <!--  end gameType logic  -->
      </tr>
      <%  } %> <!--  end matches loop  -->
    <%  } %> <!--  end else statement  -->

    </table>
  </section>

</body>
</html>
