<!DOCTYPE html>
<html lang="en">
  <% include ../views/partials/_head %>

  <body>
    <% include ../views/partials/_header %>

    <h1><%= user.username %></h1>

    <section>
      <h2>Rankings</h2>
      <% for (rank in rankings) { %>
        <% var currRank = rankings[rank]; %>
        <%= currRank.name %> - Wins: <%= currRank.wins%> Losses: <%= currRank.losses %>
      <% } %>
    </section>

    <section>
      <h2>Previous Matches</h2>
      <% for (match in archivedMatches) { %>
        <% var currMatch = archivedMatches[match]; %>
        <% if (currMatch.winner_id === user.id) { %>
          <% outcome = 'W'; %>
          <% opponent = currMatch.loser_name; %>
        <% } else { %>
         <% outcome = 'L'; %>
         <% opponent = currMatch.winner_name; %>
        <% } %>
        <%= outcome %> VS. <%= opponent %> --- <%= currMatch.winner_score %> - <%= currMatch.loser_score %>
      <% } %>
    </section>
  </body>

  <% include ../views/partials/_footer %>
</html>
