<!DOCTYPE html>
<html lang="en">
<head>
  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>
</head>

  <body class='container'>


    <h1>Global Rankings</h1>

    Select Game:
    <select name="game" class="rankings-game">
      <% for (game in games) { %>
        <option value= <%= games[game].id %> <% if (games[game].id === 1) { %>selected <% } %>>
          <%= games[game].name %>
        </option>
      <% } %>
    </select>


    <section>
      <table class="rankings">
        <thead>
          <th>Rank</th>
          <th>Player</th>
          <th>Wins</th>
          <th>Losses</th>
        </thead>
        <tbody>
          <% for (i = 0; i < rankings.length; i++) { %>
            <tr>
              <% var currRank = rankings[i]; %>
              <td><%= i + 1 %></td>
              <td><a href="/users/<%= currRank.id %>"><%= currRank.username %></a></td>
              <td><%= currRank.wins %></td>
              <td><%= currRank.losses %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>

  </body>

  <% include ../views/partials/_footer %>
</html>
