<!DOCTYPE html>
<html lang="en">
<head>

  <% const player_id = my_id %>
  <% include ../views/partials/_head %>
  <% include ../views/partials/_header %>

</head>

<body>
  <div class="bump-down">
    <h1>Look for a new match!</h1>
    <!-- Select which game to play -->
        Select Game:

    <select name="game">
      <% for (game in games) { %>
        <option id="gameType" value= <%= games[game].id %> <% if (games[game].id === 1) { %>selected <% } %>>
          <%= games[game].name %>
        </option>
      <% } %>
    </select>

    <div id="test">TEST</div>

    <section>
      <table>
        <th>Game Type</th>
        <th>Player 1</th>
        <th>Player 2</th>
        <% for(var i = 0; i < allMatches.length; i++) { %>
          <tr>

            <td><%= allMatches[i].game_id %></td>
            <td><%= allMatches[i].player1_id %></td>
            <td><%= allMatches[i].player2_id %></td>
            <a type="button" href="/matches/<%=allMatches[i].id%>" value="Play">Play</a>

          </tr>
        <% } %>
      </table>

    </section>
    </div>
  </body>
</html>
